@charset "UTF-8";


body {
        background-color:rgb(235, 194, 201);
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
    }
h1  {
        color: rgb(193, 66, 197);
        background-color: rgb(248, 196, 127);
    }
h2  {
        color: brown;
    }
p   {
        color: rgb(255, 82, 82);
            
    }
    